<h1>LOGIN</h1>
   
<form [formGroup]="reactiveForm" (ngsubmit)="onSubmit()">
<mat-form-field>
<input matInput placeholder="enter Name" type="text" formControlName="name">
<mat-error *ngIf="reactiveForm.controls?.name.errors?.required">name is required</mat-error>
</mat-form-field><br>

   <!-- <mat-form-field>
 <input matInput placeholder="Last Name" type="text" formControlName="lastName">
 <mat-error *ngIf="reactiveForm.controls?.lastName.errors?.required">name is required</mat-error>
</mat-form-field><br> -->

 <mat-form-field>
<input matInput placeholder="emailId" type="text" formControlName="email">
<mat-error *ngIf="reactiveForm.controls?.email.errors?.required">email requried</mat-error>
</mat-form-field><br>
<mat-form-field>
      <input matInput placeholder="Create Your Password" formControlName="pass" required [type]="hide ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="reactiveForm.controls.pass.errors?.required">Please Create Your Password</mat-error>  
   </mat-form-field><br>

      <mat-form-field>
            <input matInput placeholder="Enter MobileNumber" formControlName="mobile" minlength="10" maxlength="10" required numbersOnly>
            <mat-error *ngIf="reactiveForm.controls.mobile.errors?.required">Mobile Number is Required</mat-error>
                <mat-error *ngIf="reactiveForm.controls.mobile.errors?.minlength || reactiveForm.controls.mobile.errors?.maxlength">Mobile Number Must be 10 digits Only</mat-error>
                <mat-error *ngIf="reactiveForm.controls.mobile.errors?.pattern">Number Must be Digits Only</mat-error>
          </mat-form-field>

<!-- <mat-form-field>
<mat-select placeholder="State" type="State" formControlName="state" multiple>
 <mat-option *ngFor="let state of statelist" [value]="state">{{state}}</mat-option>
</mat-select>
</mat-form-field><br> -->

<section>
      <mat-radio-group formControlName="gender" required>
        <mat-label>gender</mat-label>
        <mat-radio-button class="radio-margin" value="male">Male</mat-radio-button>
        <mat-radio-button class="radio-margin" value="female">Female</mat-radio-button>
      </mat-radio-group>
    </section>

<mat-form-field>
<input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" placeholder="date" formControlName="date">
 <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
 <mat-datepicker #picker></mat-datepicker>
</mat-form-field><br> 
<div>
      <button mat-raised-button class="btn btn-success" [disabled]="reactiveForm.invalid" (click)="onSubmit()">Register</button>
    </div>
    <p>Value of parent component is: {{ Data | json }}</p>
  </form> 

